<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="/public/css/notification.css">
</head>

<body>
    <header>

    </header>

    <main>
        <h1>Notifications</h1>
        <ul class="notification-list">
            <li class="notification-item">
                <div class="notification-content">
                    <p>Notification 1</p>
                </div>
            </li>
            <li class="notification-item">
                <div class="notification-content">
                    <p>Notification 2</p>
                </div>
            </li>
            <li class="notification-item">
                <div class="notification-content">
                    <p>Notification 3</p>
                </div>
            </li>

        </ul>
    </main>
</body>

</html>